/jpassion/Java Programming/Lesson 2/MyHelloProject/target/
/jpassion/Java Programming/Lesson 2/MyHelloProject2/target/
/jpassion/Java Programming/Lesson 3/MyOutputVariableProject/target/
/jpassion/Java Programming/Lesson 3/MyAverageNumberProject/target/
/jpassion/Java Programming/Lesson 3/SumNumber/target/
/jpassion/Java Programming/Lesson 3/MyConditionalOperatorProject/target/
/jpassion/Java Programming/Lesson 3/MyGreatestValueProject/target/
/jpassion/Java Programming/Lesson 3/MyGreatestValueProject2/target/
/jpassion/Java Programming/Lesson 4/MyGetInputFromKeyboardProject/target/
/jpassion/Java Programming/Lesson 3/MyInputFromKeyboardJOptionPaneProject/target/
/jpassion/Java Programming/Lesson 4/MyInputFromKeyboardJOptionPaneProject/target/
/jpassion/Java Programming/Lesson 4/MyGetInputFromKeyboardJOptionPaneProject2/target/
